echo EXPO_PUBLIC_FIREBASE_API_KEY= > .env.example
echo EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN= >> .env.example
echo EXPO_PUBLIC_FIREBASE_PROJECT_ID= >> .env.example
echo EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET= >> .env.example
echo EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= >> .env.example
echo EXPO_PUBLIC_FIREBASE_APP_ID= >> .env.example